<div class="fishing-container">
  <div class="message">{{ message }}</div>

  <div class="start-area" *ngIf="!fishingInProgress">
    <button 
      class="cast-button" 
      (click)="startFishing()" 
      [disabled]="gameState.isNetFull()">
      Cast: {{ gameState.getNet().length }}/{{ gameState.netCapacity }} fish in net
    </button>
    <button class="menu-button" (click)="goBackToMenu()">Back to Menu</button>
  </div>

  <img *ngIf="caughtFishImage" [src]="caughtFishImage" alt="Caught Fish" class="caught-fish-image" />

  <div
    *ngFor="let bubble of bubbles; let i = index"
    class="bubble"
    [ngStyle]="{ 
      top: bubble.y + 'px', 
      left: bubble.x + 'px', 
      width: bubble.size + 'px', 
      height: bubble.size + 'px', 
      backgroundColor: bubble.clicked ? '#0f3a5c' : 'rgba(173, 216, 230, 0.8)' 
    }"
    (click)="clickBubble(i)">
  </div>
</div>
