<div class="fishing-container">
    <div class="message">{{ message }}</div>
  
    <img *ngIf="caughtFishImage" [src]="caughtFishImage" alt="Caught Fish" class="caught-fish-image" />
  
    <div
        *ngFor="let bubble of bubbles; let i = index"
        class="bubble"
        [class.clicked]="bubble.clicked"
        [style.left.px]="bubble.x"
        [style.top.px]="bubble.y"
        [style.width.px]="bubble.size"
        [style.height.px]="bubble.size"
        (click)="clickBubble(i)"
    ></div>
  
    <div class="start-area" *ngIf="!fishingInProgress">
      <button class="cast-button" (click)="startFishing()">Cast Line</button>
    </div>
  </div>
  