.net-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  min-height: 100vh;
  background-color: #0f3a5c;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  position: relative;
  box-sizing: border-box;
}

.gold-display {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffd700; /* Dark text on light yellow */
  background-color: #49a6e9; /* Bright gold background */
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  font-family: 'Arial', sans-serif;
}

.empty-net-message {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 100px;
  color: #ccc;
}

.fish-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0d2646;
  padding: 15px;
  margin: 10px auto;
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 2px 5px #00000033;
}

.fish-card img {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
}

.details {
  flex-grow: 1;
  font-size: medium;
  text-align: left;
  margin-left: 40px;
}

.faint {
  color: rgba(255, 255, 255, 0.6); /* light text */
  font-size: 0.9rem;
  font-weight: 300;
}

.sell-button {
  background-color: rgba(104, 137, 180, 0.174);
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  white-space: nowrap;
}

.sell-button:hover {
  background-color: #e04141;
}

.menu-button-container {
  margin-top: 20px;
}

.menu-button {
  font-size: 1.5rem;
  padding: 0.75rem 2rem;
  border: none;
  background-color: #49a6e9;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease, transform 0.1s;
}

.menu-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.03);
}
